@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #3acf91;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}
h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}
h4 {
  margin: 0;
  text-transform: uppercase;
}
/* Modal Section */
.close-modal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: fit-content;
  display: block;
  background-color: #fff;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  background-color: #2ecc71;
  border-radius: 18px;
  color: #000;
  width: 100px;
  height: 200px;
}

.btn-panel {
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn + .btn {
  margin-left: 10px;
}
.outer-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.user-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.username {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  cursor: default;
  border-radius: 10px;
  margin-right: 20px;
}
.content-area {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  flex-direction: row;
}
.main-title {
  font-size: 2rem;
  font-weight: bold;
}
.content-container {
  width: 40%;
  margin-bottom: 20px;
}
.history-container {
  width: 60%;
  margin-bottom: 20px;
}
.inc-exp-container {
  background-color: #fafafa;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select.form-select {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
select.form-select:focus {
  box-shadow: inset 0px 0px 0px 1.3px #000;
}
.filter-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-filter-input {
  border: 1px solid #dedede;
  border-radius: 2px;
  font-size: 10px;
  padding: 3px;
  width: 100%;
}
.filter-form {
  display: flex;
  justify-self: center;
  align-items: center;
}
.filter-form #id_category {
  margin: 0 10px;
}
.filter-form .btn {
  width: fit-content;
  display: inline;
  padding: 5px;
  margin: 10px 0px;
}
.btn {
  cursor: pointer;
  background-color: #2ecc71;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  text-decoration: none;
  opacity: 1;
}

#toasts {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#toasts .toast {
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
  margin: 0.5rem;
}

/* Login and Register */
.auth-container.modal {
  width: 400px;
  padding: 20px 20px;
}
@media (max-width: 420px) {
  .auth-container.modal {
    width: 95vw;
  }
}
.auth-container .btn {
  margin: 10px 0;
}
.logout-icon {
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px 15px;
  box-shadow: var(--box-shadow);
  font-size: 1.2rem;
  color: #000;
}
