<h4>Your Balance</h4>
    <h1 id="balance">₹ {{ user_profile.balance }}</h1>
    <div class="inc-exp-container">
      <div>
        <h4>Income</h4>
        <p id="money-plus" class="money plus">+₹ {{ user_profile.income }}</p>
      </div>
      <div>
        <h4>Expense</h4>
        <p id="money-minus" class="money minus">
          -₹ {{ user_profile.expenses }}
        </p>
      </div>
    </div>
    <h3>Top Picks:</h3>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for expense in expenses|slice:"4" %}
          <li class="splide__slide category-card">
            <div class="title">{{ expense.description }}</div>
            <div class="category">{{ expense.category }}</div>
            <div class="amount">₹{{ expense.cost }}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>