{% extends "base/base.html" %} {% load static %} {% block start %}
<div class="header mt-3 container outer-container">
  <div class="main-title">Expense Manager</div>
  <div class="user-area">
    <div class="username">Welcome, {{ user.username|capfirst }}</div>
    <a href="{% url 'logout' %}" class="logout-icon">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </a>
  </div>
</div>
<div class="container content-area">
  <div class="content-container outer-container">
    {% include 'base/content.html' %}
  </div>
  <div class="history-container outer-container">
    {% include 'base/history.html' %}
  </div>
</div>

<!-- Modal Section -->
<!-- Add Transaction -->
{% include 'base/transaction_modal.html' %} 
{% include 'base/category_modal.html' %}

<div class="overlay hidden"></div>
{% endblock %}
